<h2>주소 입력</h2>
<form action="/shortened_urls/create", method="post">
    <input type="text" value="", name ="original_url"/>
    <input type="submit"/>
</form>

<table border = 1 width = 200 class ='table'>
<tr>
    <td>원래 주소</td>
    <td>짧은 주소</td>

</tr>
<% @url.each do |item| %>
<tr>
    <td style='word-break:break-all'><%=item.original_url%></td>
    <td><%="localhost:3000" + "/" +  item.short_url %></td>
</tr>
<% end %>
</table>
<%= paginate @url%>